nav ul{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    display: grid;
    text-align: center;
    list-style: none;
    border: 1px solid gray;
    grid-template-columns: repeat(4, 120px);
    
}
nav ul li{
    background-color: chartreuse;
    border: 1px solid gray;
}
article{
    background-color: black;
    border: 1px solid gray;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(4, 120px);
}
header{
    color: green;
    border: 1px solid gray;
}